.testing {
  width: 71.42857%; }

body {
  background-color: blue; }

#test {
  width: 200px;
  height: 20px;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  display: block; }

#test10 {
  width: 200px;
  height: 20px; }
