.testing {
  width: percentage(5/7);
}

$red: blue;
$height: 20px;
body {
  background-color: $red;
}
@mixin block-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#test {
  width: $height * 10;
  height: $height;
  background-color: red;
  @include block-center;
}

#test10 {
  width: $height * 10;
  height: $height;
}

